$main-font: 'Open Sans', sans-serif;

$main-color: #000;

$blue-color: #5cb3e5;

$blue-color-hover: #2da0df;

$light-blue-color: #eff4fd;

$light-gray-color: #8a9eb8;

$gray-color: #6f8fb9;

$anim-cubic: cubic-bezier(.36,.26,.19,1.03);

