.ext-form {
    background: $light-blue-color;
    padding: 30px;
    max-width: 400px;

    .x-form-text {
        background: #fff;
        width: 100%;
        border-radius: 4px;
        padding: 10px 20px;
        box-sizing: border-box;
        border: 1px solid transparent;
        transition: all .4s ease-in-out;

        &:focus {
            border-color: $blue-color;
        }
    }

    .x-form-item-label-text {
        padding-bottom: 5px;
        display: block;
    }

    .x-form-item {
        margin-bottom: 20px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}


.x-window {
    position: fixed;
    background: #fff;
    padding: 20px;
    z-index: 100;
    left: 0 !important;
    top: 0 !important;
    width: auto !important;
    height: auto !important;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
}

.x-window-body {
    left: 0 !important;
    top: 0 !important;
    width: auto !important;
    height: auto !important;
}