.scrollable-table {
    position: relative;
    max-width: 1000px;
    margin: 0 auto 50px;
    overflow: auto;
    max-height: 300px;
    border: 1px solid $light-gray-color;
    @include breakpoint(w500) {
        margin: 0 -20px 50px;
    }

    table {
        width: 100%;
        border-collapse: separate;
    }

    td, th {
        background: #fff;
        padding: 10px;
        border-bottom: 1px solid $light-gray-color;
        border-right: 1px solid $light-gray-color;
        box-sizing: border-box;
        vertical-align: middle;

        &:last-child {
            border-right: none;
        }
    }

    th {
        background: $light-blue-color;
        text-align: center;
    }

    tbody {
        tr {
            &:last-child {
                td {
                    border-bottom: none;
                }
            }

            &:hover {
                background: #f9f9f9;
            }
        }
    }

    .fixed-top {
        position: -webkit-sticky;
        position: sticky;
        z-index: 4;
        top: 0;
    }

    .fixed-left {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
        z-index: 5;

    }

    th.fixed-left {
        z-index: 6;
    }


}

.scrollable-table2 {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
    @include breakpoint(w500) {
        margin: 0 -20px;
    }

    &:after {
        @include pseudo-styler();
        width: 1px;
        height: 100%;
        right: 0;
        top: 0;
        background: $light-gray-color;
        pointer-events: none;
        z-index: 10;
    }

    &:before {
        @include pseudo-styler();
        height: 1px;
        width: 100%;
        left: 0;
        bottom: 0;
        background: $light-gray-color;
        pointer-events: none;
        z-index: 10;
    }

    &__wrap {
        max-height: 300px;
        overflow: auto;
    }

    table {
        border: none;
        border-collapse: collapse;
    }

    td, th {
        background: #fff;
        padding: 10px;
        border: 1px solid $light-gray-color;
        vertical-align: middle;
        transition: background-color .3s ease-in-out;
        box-sizing: border-box;
    }

    tbody {
        tr:hover td {
            background: #f9f9f9;
        }
    }

    th {
        background: $light-blue-color;
        text-align: center;
    }

    th.fixed-left .cloned-cell {
        z-index: 7;
    }

    .fixed-left .cloned-cell {
        z-index: 6;
    }

    .cloned-cell {
        position: absolute;
        left: 0;
        z-index: 5;
        display: flex;
        flex-flow: column;
        justify-content: center;
        padding: inherit;
        border: inherit;
        background: inherit;
        box-sizing: border-box;
    }
}
