.tooltip {
    position: relative;
    background: $blue-color;
    padding: 15px;
    border-radius: 4px;
    color: #fff;

    &__text {
        position: absolute;
        left: 0;
        top: 100%;
        opacity: 0;
        border-radius: 4px;
        visibility: hidden;
        transform: translateY(-8px);
        transition: all .3s ease-in-out .1s, visibility 0s ease-in-out .4s;
        pointer-events: none;
        max-width: 300px;
        padding: 10px;
        z-index: 5;
        color: $main-color;
        background: $light-blue-color;
        margin-top: 18px;
        font-size: 14px;
        min-width: 100px;
        box-shadow: 0 0 7px rgba(0, 0, 0, 0.07);

        &:before {
            @include pseudo-styler();
            left: 0;
            top: -18px;
            width: 100%;
            height: 18px;
        }

        &:after {
            @include pseudo-styler();
            bottom: 100%;
            left: 10px;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 14px 14px;
            border-color: transparent transparent $light-blue-color transparent;
        }
    }

    &.tooltip--right {
        .tooltip__text {
            left: auto;
            right: 0;

            &:after {
                left: auto;
                right: 10px;
                border-width: 14px 0 0 14px;
                border-color: transparent transparent transparent $light-blue-color;
            }
        }
    }

    &.tooltip--bottom {
        .tooltip__text {
            top: auto;
            bottom: 100%;
            margin: 0 0 18px;
            transform: translateY(8px);

            &:before {
                top: auto;
                bottom: -18px;
            }

            &:after {
                top: 100%;
                bottom: auto;
                border-width: 0 14px 14px 0;
                border-color: transparent $light-blue-color transparent transparent;
            }
        }
    }

    &.tooltip--bottom-right {
        .tooltip__text {
            top: auto;
            bottom: 100%;
            margin: 0 0 18px;
            transform: translateY(8px);
            left: auto;
            right: 0;

            &:before {
                top: auto;
                bottom: -18px;
            }

            &:after {
                left: auto;
                right: 10px;
                top: 100%;
                bottom: auto;
                border-width: 14px 14px 0 0;
                border-color: $light-blue-color transparent transparent transparent;
            }
        }
    }

    &:hover {
        .tooltip__text {
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
            transition: all .3s ease-in-out .1s, visibility 0s ease-in-out .1s;
            pointer-events: auto;
        }
    }
}

.tooltip-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;

    &__item {
        padding: 15px;
    }
}